@mixin row {
    display: flex;
    flex-direction: row;
}

@mixin column {
    display: flex;
    flex-direction: column;
}

@mixin row-spacebetween {
    @include row ;
    justify-content: space-between;

}

@mixin row-center {
    @include row ;
    justify-content: center;

}

@mixin column-center {
    @include column ;
    justify-content: center;
}


.main-nav{
    
    .main-screen{
        
        padding: 70px 10%;
        height: 550px;
        
        .screen{
            @include row-spacebetween ;

            .main-title{
               
                @include column-center ;

                .link-action{

                    text-decoration: none;
                    border-color: transparent;
                    outline: none;

                        .button-sign{
                            padding: 10px 0;
                            width: 160px;
                            display: inline;
                            text-decoration: none;
                            color: white;
                            border-radius: 16px;
                            background-color: #09A1F6;
                            border: 0.5 solid transparent;
                            font-weight: 400;
                            letter-spacing: 1px;
                        }
                }
                

                h2{
                    margin: 0;
                    width: 50%;
                    letter-spacing: 1px;
                    font-size: 38px;
                    font-weight: 400;
                    line-height: 1.1;

                        span{ 
                              color: #09A1F6; 
                              font-weight:bold ;
                            }
                    }

                p{
                    font-size: 21px;
                    font-weight: 400;
                }     
            }
        }


        .screen-logo{

            .main-logo{
               
                padding: 20px;
            }
        }   
    }



    .fiture{
       
        padding: 10%;

        h2{
            font-weight: 400;
            font-size: 35px;
            margin: 20px 0;
            text-align: center;
            color: #424242;
            
            
        }

        .main-fiture{
            @include row;
            justify-content: space-around;
            box-sizing: border-box;
            margin-top: 5%;
            padding: 2% 30px;

            .card{
                @include column;
                width: 28%;
                padding: 30px 15px;
                align-items: center;
                box-shadow: 0px 0px 8px 3px rgb(230, 230, 230);
                border-radius: 20px;

                    h5{
                        font-size: 18px;
                        font-weight: 500;
                        color: #424242;
                    }
                }
        }
    }





    .main-app{
        @include row ;
        padding:100px 10%;
        height: 500px;

            .logo-app{
                @include row-center ;
                padding: 20px 0;
                flex: 1.3;

            }

        .app-title{
            flex: 1.7;

            h3{
                width: 80%;
                font-size: 45px;
                font-weight: 500;
                line-height: 1.3;
                color: #424242;
                font-family: sans-serif;

                span{
                    color: #09A1F6; 
                    font-weight:bold ;

                }
            }

            a{
              
                img{
                    box-shadow: 0px 0px 2px 1px #424242 ;
                    border-radius: 15px;
                    width: 220px;
                    height: 60px;
                }
            }
            
        }
    }


    .main-partner{
        h2{
            text-align: center;
            font-weight: 400;
            font-size: 35px;
            margin: 90px 0;
            text-align: center;
            color: #424242;
            position: relative;

        }

        .partnership{
            @include row-center;
            padding: 30px 0;

            .card-img{
                padding: 0 30px;

                .partner-logo{
                    width: 280px;
                    height: 200px;

                }
                
            }
            
        }
    }



    .feedback{
        
        padding: 0 20%;
        h2{
            text-align: center;
            font-weight: 400;
            font-size: 35px;
            margin: 90px 0;
            text-align: center;
            color: #424242;

        }

        .wrapper{
            overflow-x: hidden;
            padding: 30px 10px;


            .slider{
                position: relative;
                width: 200%;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                animation: deks-slider 12s infinite;

                .slider-item{
                    width: 32%;
                    
                    margin-right: 20px;
                    box-sizing: border-box;
                    padding: 20px;
                    box-shadow: 0px 0px 3px 1px #424242;
                    border-radius: 10px;
                    background-color: rgb(255, 255, 255);

                    h4{
                        text-align: left;
                        margin: 0;
                        font-family: 'Roboto', sans-serif;
                        font-size: 16px;
                        color: #09A1F6;

                    }

                    p{
                        font-size: 14px;
                        font-weight: 500;
                        font-family: 'Roboto', sans-serif;
                        line-height: 1.6;
                    }
                }
            }
        }
    }


    .main-profile{
        padding: 40px 0px;
        box-sizing: border-box;

        h2{
            text-align: center;
            font-weight: 400;
            font-size: 35px;
            margin: 90px 0;
            text-align: center;
            color: #424242;
            position: relative;
        }

        .video-frame{
            display: block;
            margin: 0 auto;
            width : 806px ;
            height : 442px ;

        }

    }



    // mobile app screen
    
    @media (max-width : 465px){
        .main-screen{
            height: 500px;
            
                .screen{
                    @include column;
                }

                .screen-logo{
                    display: none;
                    border: 1px solid green;
                }
        }



        .fiture{

            .main-fiture{
                @include column;
                padding: 90px 0;

                    .card{
                        width: 100%;
                        margin-bottom: 40px;
                        padding: 30px 0;
                    }
            }
        }


        .main-app{

            @include column ;
            height: 800px;

            .logo-app{
                display: block;
                padding: 0;
            }

            .app-title{

                h3{
                    line-height: 1.2;
                    font-size: 32px;
                }
            }
        }



        .main-partner{

            .partnership{
                @include column ;

                .card-img{
                    @include row-center ;
                    margin-bottom: 50px;

                    .partner-logo{
                        width: 230px;
                        height: 180px;
                    }
                }
            }
        }


        .feedback{
            padding: 0 10%;
            .wrapper{
                .slider{
                    width: 420%;
                    animation: mobs-slider 15s infinite;

                    .slider-item{
                        width: 300px;
                    }
                }
            }
        }



        .main-profile{

            .video-frame{
                height: 250px;
                width: 90%;
            }
        }
    }
}


//dekstop slider

@keyframes deks-slider{
    10%{
        left: 0px;
    }

    26%{
        left: -33%;
    }

    45%{
        left: -67%;
    }

    68%{
        left: -100%;
    }

    87%{
        left: -133%;
    }

    100%{
        left: -167%;
    }
}


// mobile slider
@keyframes mobs-slider{
    10%{
        left: 0px;
    }

    26%{
        left: -210px;
    }

    45%{
        left: -425px;
    }

    68%{
        left: -630px;
    }

    87%{
        left: -840px;
    }

    100%{
        left: -1050px;
    }
}


